header {
	background-color: #000;
	/* display: flex; */
	/* justify-content: space-between; */
	color: #fff;
	/* height: 100px; */
	/* padding: 15px; */
	width: 100%;
}

h1,nav {
	padding: 20px;
	text-align: center;
}

ul {
	display: flex;
	justify-content: center;
	padding: 0;
}

li {
	padding: 4px;
	/* line-height: 50px; */
	list-style: none;
	font-size: 20px;
}

a:link, a:visited, a:hover, a:active {
	color: #fff;
}
