
.plan {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid gray;
}

.title {
	font-size: 24px;
	width: 100%;
	text-align: center;
}

.article {
	display: flex;
}

img {
	width: 50%;

}

.desc {
	width: 50%;
	margin-left: 20px;
	/* background-color: pink; */
}

button {
	margin-right: 5px;
}
